* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    min-height: 100vh;
    background: linear-gradient(to right top, #fda085, #f6d365);
    display: flex;
    align-items: center;
    justify-content: center;
}
.glass {
    background: white;
    min-height: 80vh;
    width: 60%;
    border-radius: 2rem;
    background: linear-gradient(
        to right bottom, 
        rgba(255,255,255,0.7), 
        rgba(255,255,255,.3)
        );
    z-index: 2;
    backdrop-filter: blur(1.5rem);
    box-shadow: 6px 6px 20px rgba(122,122,122,.212);
}
.coming-soon {
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.coming-soon .brand {
    align-self: flex-start;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Roboto Slab', sans-serif;
}
.coming-soon p:nth-child(2) {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 5.3rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Poppins', serif;
}
.coming-soon p:nth-child(3) {
    align-self: flex-end;
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
    font-family: 'Roboto Slab', serif;
}
.circle1,
.circle2 {
    background: white;
    background: linear-gradient(
        to right bottom, 
        rgba(255,255,255,0.9),
        rgba(255,255,255,0.5)
        );
        position: absolute;
        border-radius: 50%;
}
.circle1 {
    width: 20rem;
    height: 20rem;
    top: 5%;
    right: 8%;
}
.circle2 {
    width: 15rem;
    height: 15rem;
    bottom: 2%;
    left: 10%;
}

@media screen and (max-width: 769px) {
    .coming-soon p:nth-child(2) {
        font-size: 3.3em;
    }
}
@media screen and (max-width: 415px) {
    .glass {
        width: 70%;
    }
    .coming-soon {
        padding: 40px;
    }
    .coming-soon .brand {
        font-size: 1rem;
    }
    .coming-soon p:nth-child(2) {
        font-size: 1.7em;
    }
    .coming-soon p:nth-child(3) {
        font-size: 1em;
    }
    .circle1 {
        width: 7rem;
        height: 7rem;
    }
    .circle2 {
        width: 9rem;
        height: 9rem;
    }
}